<main>
	{{#if hasProducts}}
		<ul>
			{{#each products}}
				<li>
					<p>{{this.productData.title}} ({{this.qty}})</p>
					<form action='/cart-delete-item' method='POST'>
						<input type='hidden' name='productId' value='{{this.productData.id}}' />
						<button class='btn' type='submit'>Remove from Cart</button>
					</form>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<h1>No Products in Cart!</h1>
	{{/if}}
</main>